{{! Previous/next page links - only displayed on page 2+ }}
<!--<div class="extra-pagination inner">-->
    <!--{{pagination}}-->
<!--</div>-->

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}} post-list">
    <a href="{{url}}">
        {{#if image}}
            <div class="post-list__image-cover">
                <img src="{{image}}" class="post-list__image" alt="">
            </div>
        {{/if}}
        <header class="post-list__header">
            <h2 class="post-list__title">{{title}}</h2>
        </header>
        <section class="post-list__excerpt">
            <p>
                {{#if meta_description}}
                    {{meta_description}}
                {{else}}
                    {{excerpt words="26"}}
                {{/if}}
                 <span class="read-more">&raquo;</span></p>
        </section>

    </a>

</article>

{{/foreach}}

<!--{{! Previous/next page links - displayed on every page }}-->
<!--{{pagination}}-->
