<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <meta name="theme-color" content="#e75930">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
    <script>document.documentElement.className += ' wf-loading';</script>
    <script src="https://use.typekit.net/rva4kdx.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body class="{{body_class}} nav-closed">

    {{> header}}


    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

    </div>
    <footer class="spacebar-footer">
        <div class="spacebar-footer__inner">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>

</body>
</html>
